<div class="contact-form">
	<form method="post" action="{{ site.data.settings.contact_settings.form_action }}" id="contact-form">
		<div class="contact-form__item">
			<label class="contact-form__label">Email Adresse *</label>
			<input type="text" name="email" placeholder="Deine Email Adresse..." class="contact-form__input">
		</div>
		<div class="contact-form__item">
			<label class="contact-form__label">Name *</label>
			<input type="text" name="name" placeholder="Name" class="contact-form__input">
		</div>
		<div class="contact-form__item">
			<label class="contact-form__label">Kategorie *</label>
			<select name="_subject" class="contact-form__input">
				<option value="select" style="display: none;" selected disabled>Auswählen</option>
				<option value="Information">Information</option>
				<option value="Beratungstermin">Beratungstermin</option>
				<option value="Bewerbung">Bewerbung</option>
				<option value="Sonstiges">Sonstiges</option>
			</select>
		</div>
		<div class="contact-form__item">
			<label class="contact-form__label">Nachricht *</label>
			<textarea name="message" placeholder="Deine Nachricht..." class="contact-form__textarea"></textarea>
		</div>
		<input type="hidden" name="_next" value="{{ site.data.settings.contact_settings.confirmation_url }}" />
		<input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">
		<div class="g-recaptcha" data-sitekey="6LdVU20gAAAAALJaGMSKmyWjP4csUHTRgyJawHLl"></div>
		<div class="contact-form__item">
			<input id="submit-btn" type="submit" value="{{ site.data.settings.contact_settings.send_button_text }}" class="button button--large">
		</div>
		<div id="form-status" class="alert hide"></div>
	</form>

	<script>
		window.onload = () => {
			var el = document.getElementById('g-recaptcha-response');
			if (el) el.setAttribute('required', 'required');
		}

		var form = document.getElementById("contact-form");

		const showStatus = (element, type) => {
			if (type === 'success') {
				element.classList.remove('error');
				element.classList.add('success');
			} else if (type === 'error') {
				element.classList.remove('success');
				element.classList.add('error');
			}

			element.classList.remove('hide');
			setTimeout(()=>{
				element.classList.add('hide');
			}, 3000);
		}
		async function handleSubmit(event) {
			event.preventDefault();

			var status = document.getElementById("form-status");
			var data = new FormData(event.target);

			fetch(event.target.action, {
				method: form.method,
				body: data,
				headers: {
					'Accept': 'application/json'
				}
			}).then(response => {
				if (response.ok) {
					form.reset();

					status.innerHTML = "Danke für deine Nachricht!";

					showStatus(status, 'success');
				} else {
					response.json().then(data => {
						if (Object.hasOwn(data, 'errors')) {
							status.innerHTML = data["errors"].map(error => error["message"]).join(", ");
						} else {
							status.innerHTML = "Hoppla! Beim Senden des Formulars ist ein Problem aufgetreten.";
						}

						showStatus(status, 'error');
					});
				}
			}).catch(error => {
				status.innerHTML = "Hoppla! Beim Senden des Formulars ist ein Problem aufgetreten.";

				showStatus(status, 'error');
			});
		}

		form.addEventListener("submit", handleSubmit);
	</script>

</div>