<div class="contact-form">


	<form method="post" action="{{ site.data.settings.contact_settings.form_action }}" id="contact-form">

		<div class="contact-form__item">
			<label class="contact-form__label">Email Adresse *</label>
			<input type="text" name="email" placeholder="Deine Email Adresse..." class="contact-form__input">
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">Name *</label>
			<input type="text" name="name" placeholder="Name" class="contact-form__input">
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">Kategorie *</label>
			<select name="_subject" class="contact-form__input">
				<option value="select" style="display: none;" selected disabled>Auswählen</option>
				<option value="Information">Information</option>
				<option value="Beratungstermin">Beratungstermin</option>
				<option value="Bewerbung">Bewerbung</option>
				<option value="Sonstiges">Sonstiges</option>
			</select>
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">Nachricht *</label>
			<textarea name="message" placeholder="Deine Nachricht..." class="contact-form__textarea"></textarea>
		</div>

		<input type="hidden" name="_next" value="{{ site.data.settings.contact_settings.confirmation_url }}" />
		<!-- <input type="hidden" name="_subject" value="{{ site.data.settings.contact_settings.email_subject }}" /> -->
		<input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">

		<div class="contact-form__item">
			<input type="submit" value="{{ site.data.settings.contact_settings.send_button_text }}" class="button button--large">
		</div>

	</form>

</div>