 <!-- Cookie Consent -->
 <script>
    const updateVendors = (categories) => {
        if (window?.jentis?.consent?.engine?.setNewVendorConsents) {

            let consentMap = {
                jentis: true,
                matomo: true,
                googleanalytics: false,
                adobeanalytics: false
            };

            if (categories.indexOf('necessary') !== -1) {
                consentMap.jentis = true;
                consentMap.matomo = true;
            }

            if (categories.indexOf('analytics') !== -1) {
                consentMap.googleanalytics = true;
                consentMap.adobeanalytics = true;
            }

            window.jentis.consent.engine.setNewVendorConsents(consentMap);
        }
    };

    const userConsentId = () => {
        if (window?.jentis?.consent?.engine?.getConsentId) {
            return window.jentis.consent.engine.getConsentId();

        }

        return '-';
    };

    window.addEventListener('load', function() {
        window.cc = initCookieConsent();

        window.cc.run({
            current_lang: 'de',
            autoclear_cookies: true,                   // default: false
            page_scripts: true,                        // default: false

            // mode: 'opt-in'                          // default: 'opt-in'; value: 'opt-in' or 'opt-out'
            // delay: 0,                               // default: 0
            // auto_language: '',                      // default: null; could also be 'browser' or 'document'
            // autorun: true,                          // default: true
            force_consent: true,                   // default: false
            // hide_from_bots: false,                  // default: false
            // remove_cookie_tables: false             // default: false
            // cookie_name: 'cc_cookie',               // default: 'cc_cookie'
            // cookie_expiration: 182,                 // default: 182 (days)
            // cookie_necessary_only_expiration: 182   // default: disabled
            // cookie_domain: location.hostname,       // default: current domain
            // cookie_path: '/',                       // default: root
            // cookie_same_site: 'Lax',                // default: 'Lax'
            // use_rfc_cookie: false,                  // default: false
            // revision: 0,                            // default: 0

            onFirstAction: function(user_preferences, cookie){
                // callback triggered only once on the first accept/reject action
                updateVendors(cookie.categories);
            },

            onAccept: function (cookie) {
                // callback triggered on the first accept/reject action, and after each page load
                updateVendors(cookie.categories);
            },

            onChange: function (cookie, changed_categories) {
                // callback triggered when user changes preferences after consent has already been given
                updateVendors(cookie.categories);
            },
            gui_options: {
                consent_modal: {
                    layout: 'box',               // box/cloud/bar
                    position: 'middle center',     // bottom/middle/top + left/right/center
                    transition: 'zoom',           // zoom/slide
                    swap_buttons: false            // enable to invert buttons
                },
                settings_modal: {
                    layout: 'box',                 // box/bar
                    // position: 'left',           // left/right
                    transition: 'slide'            // zoom/slide
                }
            },
            languages: {
                'de': {
                    consent_modal: {
                        title: '🍪 Wir verwenden Cookies!',
                        description: 'Hallo, diese Website verwendet essentielle Cookies, um ihren ordnungsgemäßen Betrieb zu gewährleisten, und Tracking-Cookies, um zu verstehen, wie Sie damit interagieren. Letztere werden erst nach Zustimmung gesetzt. <button type="button" data-cc="c-settings" class="cc-link">Einstellungen verwalten</button>',
                        primary_btn: {
                            text: 'Alle akzeptieren',
                            role: 'accept_all'              // 'accept_selected' or 'accept_all'
                        },
                        secondary_btn: {
                            text: 'Alle ablehnen',
                            role: 'accept_necessary'        // 'settings' or 'accept_necessary'
                        }
                    },
                    settings_modal: {
                        title: 'Cookie Einstellungen',
                        save_settings_btn: 'Einstellungen speichern',
                        accept_all_btn: 'Alle akzeptieren',
                        reject_all_btn: 'Alle ablehnen',
                        close_btn_label: 'Schließen',
                        cookie_table_headers: [
                            {col1: 'Name'},
                            // {col2: 'Erhobene Daten'},
                            {col2: 'Aufbewahrungsdauer'}
                        ],
                        blocks: [
                            {
                                title: 'Cookie Nutzung 📢',
                                description: 'Diese Webseite verwendet Cookies, um die grundlegenden Funktionen sicherzustellen, und Ihr Online-Erlebnis zu verbessern. Sie können die Statistik Cookies jederzeit akzeptieren oder ablehnen. Weitere Einzelheiten zu Cookies und anderen sensiblen Daten finden Sie in der vollständigen Datenschutzerklärung.'
                            }, {
                                title: 'Erforderliche Cookies',
                                description: 'Diese Cookies sind für das reibungslose Funktionieren der Webseite unerlässlich. Ohne diese Cookies würde die Webseite nicht richtig funktionieren.',
                                toggle: {
                                    value: 'necessary',
                                    enabled: true,
                                    readonly: true
                                },
                                cookie_table: [
                                    {
                                        col1: 'Google Fonts',
                                        // col2: 'IP-Adresse',
                                        col2: '1 Jahr'
                                    }, {
                                        col1: 'Matomo (self hosted)',
                                        // col2: 'IP-Adresse',
                                        col2: '1 Jahr'
                                    }, {
                                        col1: 'Jentis',
                                        // col2: 'IP-Adresse',
                                        col2: '1 Jahr'
                                    }
                                ]
                            }, {
                                title: 'Statistik Cookies',
                                description: 'Diese Cookies helfen zu verstehen, wie Besucher mit der Webseite interagieren, indem Informationen anonym gesammelt und gesendet werden.',
                                toggle: {
                                    value: 'analytics',
                                    enabled: false,
                                    readonly: false
                                },
                                cookie_table: [
                                    {
                                        col1: 'Google Analytics',
                                        // col2: 'google.com',
                                        col2: '1 Jahr',
                                        is_regex: true
                                    },
                                    {
                                        col1: 'Adobe Analytics',
                                        // col2: 'google.com',
                                        col2: '1 Jahr',
                                        is_regex: true
                                    }/*,
                                    {
                                        col1: '_gid',
                                        // col2: 'google.com',
                                        col2: '1 day',
                                    }*/
                                ]
                            }/*, {
                                title: 'Advertisement and Targeting cookies',
                                description: 'These cookies collect information about how you use the website, which pages you visited and which links you clicked on. All of the data is anonymized and cannot be used to identify you',
                                toggle: {
                                    value: 'targeting',
                                    enabled: false,
                                    readonly: false
                                }
                            }*/, {
                                title: 'Mehr Informationen',
                                description: 'Bei Fragen zu unserer Richtlinie zu Cookies und Ihren Auswahlmöglichkeiten wenden Sie sich bitte an uns.<br /><br />Ihre Consent-ID: ' + userConsentId(),
                            }
                        ]
                    }
                }
            }
        });
    });
</script>
