// avoid blurry images on scaling
img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.custom-row {
	display: flex;
	justify-content: center;
	width: 960px;
	max-width: 100%;
	margin: auto;
}

.custom-row .custom-col {
	display: flex;
	flex-direction: column;
	flex: 1 1 300px;
	/* 
	In the order, equal to
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 300px;
	*/
	margin: 1.5em;
  justify-content: center;
}

.custom-row .custom-col p {
  text-align: justify;
  word-wrap: break-word;
  hyphens: auto;
}

.custom-row .custom-col span {
  align-self: flex-start;
	margin-top: auto;
  padding-top: 1.5em;
}

.custom-row .custom-col span .btn {
	margin-top: 1em;
  width: 100%;
  text-align: center;
}

@media (min-width: 1024px) {
	.custom-row .custom-col.no-margin {
		margin: 0 !important;
	}
}

@media (max-width: 1024px) {
	.custom-row {
		flex-wrap: wrap;
	}

	.reverse-mobile {
		flex-direction: column-reverse;
	}
}


.custom-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.custom-card {
	width: 32%;
	padding: 15px 10px;
	background-color: #efefef;
	border-radius: 4px;
	transition: transform .3s;
	text-align: center;
	// box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-top: 1.0em;
}

.custom-card h3 {
	font-size: 140%;
}

.custom-card a {
	color: inherit;
	text-decoration: none;
}

.custom-card-thumb {
	width: 100%;
	text-align: center;
}

.custom-card-thumb img {
	width: 150px;
	margin: auto;
}

.custom-card-excerpt {
	font-size: 90%;
	text-align: justify;
	word-wrap: break-word;
	hyphens: auto;
	margin-left: 0.3em;
	margin-right: 0.3em;
}

@media screen and (max-width: 1024px) {
	.custom-card {
		width: 49%;
	}
}

@media screen and (max-width: 767px) {
	.custom-cards {
		justify-content: center;
	}
	.custom-card {
		margin-bottom: 20px;
		width: 80%;
	}
}
